<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IStatService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://medframe.burmiac.ru/rias/service.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IStatService"
                contract="Rias.IStatService" name="WSHttpBinding_IStatService" />
        </client>
    </system.serviceModel>
</configuration>